<menu>
    <menuitem label='Minhas Tarefas'>
        <icon>fa:code fa-fw</icon>
        <menu>
            <menuitem label='Visualizador de Arquivos'>
                    <icon>fa:code fa-fw</icon>
                    <action>FilesystemIconView</action>  
            </menuitem>  
        </menu>
    </menuitem>
    <!--  ============== MENU CURSO PABLO ===============  -->
    <menuitem label='Curso Pablo'>
        <icon>fa:book fa-fw</icon>
        <menu>
            <menuitem label='Páginas e Containers'> 
             <icon>fa:book fa-fw</icon>
                <menu>
                    <menuitem label='Template View Básico'>
                        <icon>fa:book fa-fw</icon>
                        <action>TemplateViewBasico</action>    
                    </menuitem>
                    <menuitem label='Template com Máscaras'>
                        <icon>fa:book fa-fw</icon>
                        <action>TemplateViewMask</action>    
                    </menuitem>
                    <menuitem label='Template de Repetição'>
                        <icon>fa:book fa-fw</icon>
                        <action>TemplateViewRepeat</action>    
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Banco de Dados'> 
            <icon>fa:book fa-fw</icon>
                <menu>
                    <menuitem label='NavegaDir'>
                    <icon>fa:rocket fa-fw</icon>
                    <action>NavegaDir</action>    
                    </menuitem>
                    <menuitem label='Wel-NavegaDir'>
                    <icon>fa:code fa-fw</icon>
                    <action>WelcomeView</action>    
                    </menuitem>
                </menu>
            </menuitem>
        </menu>  
    </menuitem>

    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
